/* autoprefixer grid: autoplace */

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  @apply bg-white;
  @apply h-full;
}

body {
  @apply font-regular;
  @apply font-effra;
  @apply cursor-auto;
  @apply leading-normal;
}

::selection {
  @apply bg-millenniumMint;
  @apply text-white;
}

/* Start purging... */
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Effra';
    src: local('Effra Light'), local('Effra-Light'), url('/fonts/Effra_Lt.eot') format('eot'),
      url('/fonts/Effra_Lt.woff2') format('woff2'), url('/fonts/Effra_Lt.woff') format('woff'),
      url('/fonts/Effra_Lt.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Effra';
    src: local('Effra Regular'), local('Effra-Regular'), url('/fonts/Effra_Rg.eot') format('eot'),
      url('/fonts/Effra_Rg.woff2') format('woff2'), url('/fonts/Effra_Rg.woff') format('woff'),
      url('/fonts/Effra_Rg.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Effra';
    src: local('Effra Medium'), local('Effra-Medium'), url('/fonts/Effra_Md.eot') format('eot'),
      url('/fonts/Effra_Md.woff2') format('woff2'), url('/fonts/Effra_Md.woff') format('woff'),
      url('/fonts/Effra_Md.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Medium'), local('Oswald-Medium'), url('/fonts/oswald-regular.eot') format('eot'),
      url('/fonts/oswald-regular.woff2') format('woff2'), url('/fonts/oswald-regular.woff') format('woff'),
      url('/fonts/oswald-regular.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: local('Oswald Medium'), local('Oswald-Medium'), url('/fonts/oswald-700.eot') format('eot'),
      url('/fonts/oswald-700.woff2') format('woff2'), url('/fonts/oswald-700.woff') format('woff'),
      url('/fonts/oswald-700.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
}

.focus-visible:focus {
  @apply outline-focus;
  @apply shadow-focus;
}

.no-focus-visible {
  @apply outline-none !important;
  @apply shadow-none !important;
}

button:focus:not(.focus-visible) {
  outline: 0;
}

.touch-action-pan-y {
  touch-action: pan-y;
}
/* Stop purging. */

/* Your own custom utilities */

h1:focus {
  outline: none;
}

.list-bullet-item {
  margin-left: 20px;
  line-height: 1;
}
.list-bullet-item:before {
  content: '\2022';
  display: inline-block;
  width: 20px;
  margin-left: -20px;
  font-weight: bold;
  font-size: 25px;
  line-height: 0.5;
  @apply text-grey-500;
  position: relative;
  top: 3px;
}

.leaking-bg {
  position: relative;
  z-index: 0;
}
@screen md {
  .leaking-bg:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    @apply -left-container-md;
    right: 0;
    background: inherit;
  }
}
@screen lg {
  .leaking-bg:before {
    @apply -left-container-lg;
  }
}

.aem {
  display: none;
}

/* Printing */
@media print {
  * {
    @apply text-black !important;
    @apply bg-white !important;
    @apply border-grey-400 !important;
    background-image: none !important;
  }

  table {
    @apply min-w-0 !important;
    @apply max-w-full !important;
  }

  :not(.nivo rect) {
    @apply fill-black;
  }

  .nivo g rect {
    @apply fill-black;
  }

  header,
  footer {
    @apply hidden;
  }
}
